<head>
  <meta charset="utf-8">
  <title>makersbnb</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<header>
  <div class="main-nav">
    <% if @user %>
      <li><%= "#{@user.name}: #{@user.email} "%></li>
      <li>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Log Out" />
        </form>
      </li>
    <% else %>
      <ul >
        <li>
          <form action="/sessions/login">
            <input type="submit" value="Log In">
          </form>
        </li>
        <li>
          <form action="/users/sign_up">
            <input type="submit" value="Sign Up">
          </form>
        </li>
      </ul>
    <% end %>
  </div>

<%# more header items %>
</header>

<%# some body %>
