* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-family: Circular,Helvetica,Arial,sans-serif;
}

header {
position:fixed;
top:0;
width: 100%;
height: 62px;
color: #484848;
background-color: #fff;
border: 1px solid #DCE0E0;
border-top: none;
border-right: none;
border-left: none;
}

.body {
  margin-top: 62px
}

/*---main-nav---*/

.main-nav {
float:right;
}

.main-nav li {
float: left;
list-style: none;
padding: 22px 18px;
border: 1px solid #DCE0E0;
height: 61px;
font-size: 14px;
border-left-color: transparent;
border-bottom-color: transparent;
border-top: none;

}

.main-nav li:last-child {
border-right-color: transparent;	
}

.main-nav li:hover {
background-color: #b1ff65;
cursor: pointer;
}

.main-nav li button {
margin-top: -10px;
width: 120px;
height: 30px;
background: none;
border: 2px solid #C4C4C4;
border-radius: 5px;
background-color: tranparent;
}

.main-nav li button:hover {
border-color: #AAAAAA;
cursor: pointer;
}

.main-nav li button:focus {
outline: none;
}

.main-nav input  {
margin-top: -10px;
width: 120px;
height: 30px;
background: none;
border: none;
border-radius: none;
background-color: tranparent;
}

.body { 
  padding-top: 65px; 
}

input:focus {
  background-color: lightblue;
}

.sign-up-box{
  display: block;
  margin: 10px auto 0 auto;
  margin-top: 80px;
  width: 25%;
  padding: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.sign-up-label{
  margin-top: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
}

.sign-up-names{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sign-up-box input {
  display: block;
}


.padding {
  margin: 10px auto;
  width: 50%;
}

.padding label input {
  margin: 0 auto;
}

.button{
  margin: 10px auto;
  width: 25%;
  border: 2px solid #C4C4C4;
}


.property-container{
  margin-top: 62px;
}

.property{
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: #C4C4C4;
  width: 50%;
}

.create-listing{
  margin-top: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
}

.edit-listing{
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
}

.log-in{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

